$color-bg-base: #e0e0e0; // gray
$color-font-base: #202020; // black-light
$color-1: #ffffff; // white
$color-2: #51048e; // purple
$color-3: #2980B9; // blue
$color-4: #3498DB; // blue-light
$color-5: #E74C3C; // red